.card-container{
  
    position: absolute;
    top:8em;
    left: 35vw;
    height: auto;
    width: 30vw;
    background-color: rgb(231, 237, 243);
    border-radius: 1em;
    
}

.hola{
    min-width: none;
    min-height: none;
    width: 80%;
    height: auto;
    padding-top: 1em;
}

@media (max-width: 980px) {
    .card-container{position: absolute;
    top:8em;
    width: 50vw;
    left: 25vw;
    height: auto;
    background-color: rgb(231, 237, 243);
}}

@media (max-width: 570px) {
    .card-container{
    width: 70vw;
    left: 15vw;
}}

.card-container button{
    margin: 0.5em;
    border-radius: 5px;
    color: white;
    background-color: crimson;
    border: none;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    
}

.card-container button:hover{
    cursor: pointer;
}
