select{
    cursor: pointer;
    padding: 0.1em;
    font-size: 1.5em;
    border-radius: 0.25em;
    color: white;
    background-color: #00B4CC;
    border: 1px solid #00B4CC;
    width: 8em;
    text-align: center;
}

option{
    cursor: pointer;
}

option:checked {
    background:#0196aa;
  }


option:hover
    {
        cursor: pointer
        
    }
